{% extends "base.html" %}
{% block contenido %}


<div class="max-w-4xl mx-auto bg-white p-6 rounded shadow">
    <h1 class="text-2xl font-bold mb-4">Crear Usuarios</h1>

    <form method="POST" action="/usuarios/crear" enctype="multipart/form-data"
        class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <label class="block text-sm font-medium text-gray-700">Nombre Completo</label>
            <input class="mt-1 w-full border p-2 rounded focus:ring-blue-500 focus:border-blue-500" name="nombre"
                required />
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">Email</label>
            <input class="mt-1 w-full border p-2 rounded focus:ring-blue-500 focus:border-blue-500" name="email"
                required />
        </div>

        <div>
            <label class="block text-sm font-medium text-gray-700">Usuario</label>
            <input name="usuario" class="mt-1 w-full border p-2 rounded focus:ring-blue-500 focus:border-blue-500" />
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">Rol</label>
            <select name="rol" class="border p-2 rounded w-full">
                <option value="usuario">Usuario</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">Contraseña</label>
            <input type="password" class="mt-1 w-full border p-2 rounded focus:ring-blue-500 focus:border-blue-500"
                name="password" required />
        </div>

        <div class="md:col-span-2">
            <button
                class="w-full md:w-auto md:float-right bg-blue-600 text-white p-2 rounded hover:bg-blue-700 transition duration-150 ease-in-out">
                Guardar
            </button>
    </form>
</div>

{% endblock %}