<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}"
    />
    <title>Login</title>
  </head>

  <body>
    <div class="h-screen w-full">
      <div class="h-full w-full flex items-center justify-center">
        <div class="h-full w-full">
          <div
            class="flex flex-col hover:blur-0 h-full bg-center bg-cover items-center justify-center w-full gap-5 bg-gradient-to-tr from-[#2b8590] to-[#FFFFFF]"
          >
            <h1 class="my-6">
              <img
                src="{{ url_for('static', filename='img/LOGO DHI_Mesa de trabajo 1 copia.svg') }}"
                alt="Logo DHI"
                class="w-[180px] h-auto mx-auto"
              />
            </h1>

            <p class="text-white text-right">or use your email account</p>

            <input
              type="email"
              class="bg-white/50 hover:bg-white md:bg-white placeholder:text-violet-500 placeholder:text-sm text-violet-500 py-3 px-5 focus:text-violet-500 focus:outline focus:outline-offset-1 focus:outline-violet-500 rounded-md"
              placeholder="Enter Your Email Here!"
            />

            <input
              type="password"
              class="bg-white/50 hover:bg-white md:bg-white placeholder:text-violet-500 placeholder:text-sm text-violet-500 py-3 px-5 focus:text-violet-500 focus:outline focus:outline-offset-1 focus:outline-violet-500 rounded-md"
              placeholder="Enter Your Password Here!"
            />

            <div class="text-right">
              <a
                href="#"
                class="italic text-white/50 text-sm underline decoration-violet-500 hover:text-white hover:decoration-white transition"
                >Forget your Password?</a
              >
            </div>

            <button
              class="px-6 py-2 bg-violet-500 rounded hover:bg-white hover:text-violet-700 font-semibold transition-all text-white hover:scale-110"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    

  </body>
</html>
