{% extends "base.html" %}

{% block contenido %}

<div class="max-w-xl mx-auto bg-white p-6 rounded-lg shadow">

    <h1 class="text-2xl font-bold mb-4">Agregar Paciente</h1>

    <form method="POST" action="/pacientes/agregar" enctype="multipart/form-data" class="grid grid-cols-1 gap-4">

       
        <div>
            <label>Nombre Completo</label>
            <input name="nombre" required class="w-full border p-2 rounded">
        </div>
        <div>
            <label>Documento</label>
            <input name="cedula" required class="w-full border p-2 rounded">
        </div>
        <div>
            <label>Tipo de Documento</label>
            <select name="tipo_documento" class="border p-2 rounded w-full">
                 <option value="CC">Cedula</option>
                 <option value="PA">Pasaporte</option>
                 <option value="TI">Tarjeta de identidad</option>
                 <option value="CE">Cedula Extranjeria</option>
                 
            </select>
            
        </div>
        <div>
            <label>Lugar de Expedición</label>
            <input name="lugar_expedicion" class="w-full border p-2 rounded">
        </div>

        <div>
            <label>Fecha de Nacimiento</label>
            <input type="date" name="fecha_nacimiento" class="w-full border p-2 rounded">
        </div>

        <div>
            <label>Firma (imagen)</label>
            <input type="file" name="firma" accept="image/*" class="w-full border p-2 rounded">
        </div>

        <button class="bg-blue-600 text-white p-2 rounded hover:bg-blue-700">
            Guardar Paciente
        </button>

    </form>

</div>

{% endblock %}
