{% extends "base.html" %} {% block contenido %}

<div class="max-w-4xl mx-auto bg-white p-6 rounded shadow">
  <h1 class="text-2xl font-bold mb-4">Agregar Paciente</h1>

  <form
    method="POST"
    action="/pacientes/agregar"
    enctype="multipart/form-data"
    class="grid grid-cols-1 md:grid-cols-2 gap-4"
  >
    <div>
      <label class="block text-sm font-medium text-gray-700" >Nombre Completo</label>
      <input class="mt-1 w-full border p-2 rounded focus:ring-blue-500 focus:border-blue-500" name="nombre" required  />
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700" >Documento</label>
      <input class="mt-1 w-full border p-2 rounded focus:ring-blue-500 focus:border-blue-500" name="cedula" required  />
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700" >Tipo de Documento</label>
      <select name="tipo_documento"  class="border p-2 rounded w-full">
        <option value="CC">Cedula</option>
        <option value="PA">Pasaporte</option>
        <option value="TI">Tarjeta de identidad</option>
        <option value="CE">Cedula Extranjeria</option>
      </select>
    </div>
    
    <div>
      <label class="block text-sm font-medium text-gray-700" >Lugar de Expedición</label>
      <input name="lugar_expedicion" class="mt-1 w-full border p-2 rounded focus:ring-blue-500 focus:border-blue-500" />
    </div>
    <div>
  <label class="block text-sm font-medium text-gray-700">Fecha de Nacimiento</label>
  <input
    type="text" 
    name="fecha_nacimiento"
    id="fecha_nacimiento_flatpickr" 
    class="mt-1 w-full border p-2 rounded focus:ring-blue-500 focus:border-blue-500"
    placeholder="Seleccionar Fecha"
  />
</div>
    <!-- <div>
      <label class="block text-sm font-medium text-gray-700" >Fecha de Nacimiento</label>
      <input
        type="date"
        name="fecha_nacimiento"
        class="w-full border p-2 rounded"
      />
    </div> -->
  
    <div>
      <label class="block text-sm font-medium text-gray-700" >Firma (imagen)</label>
      <input
        type="file"
        name="firma"
        accept="image/*"
        class="w-full border p-2 rounded"
      />
    </div>

     <div class="md:col-span-2">
      <button
        class="w-full md:w-auto md:float-right bg-blue-600 text-white p-2 rounded hover:bg-blue-700 transition duration-150 ease-in-out"
      >
        Guardar 
      </button>
  </form>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Inicializar Flatpickr en el campo con el ID 'fecha_nacimiento_flatpickr'
    flatpickr("#fecha_nacimiento_flatpickr", {
      dateFormat: "Y-m-d", // Formato que tu backend de Flask/SQLite espera
      // Otras opciones útiles:
      // maxDate: "today", // No permite fechas futuras
      // locale: "es", // Si necesitas cambiar el idioma
    });
  });
</script>
{% endblock %}
